[tool.ruff]
line-length = 88

[tool.ruff.format]
skip-magic-trailing-comma = false
docstring-code-format = true

[tool.mypy]
python_version = "3.12"
check_untyped_defs = true
ignore_missing_imports = true
namespace_packages = true
explicit_package_bases = false

[tool.pytest.ini_options]
asyncio_mode = "auto"